<h2>Eventos</h2>
<hr>

<div action="" class="row g-3">
  <div class="col-auto">
    <label for="Buscar" class="visually-hidden">Buscar</label>
    <input type="text" class="form-control" id="Buscar" placeholder="Buscar"
      [(ngModel)]="filtroLista"
    >
  </div>
</div>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th hidden>#</th>
      <th>
        <a class="btn btn-outline-info btn-sm" (click)="toogleImage()">
          {{showImage ? "Ocultar" : "Mostrar" }}
        </a>
      </th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td hidden>{{evento.eventoID}}</td>
      <td>
        <img src="/assets/{{evento.imagemUrl}}" alt="" [style.width.px]="widthImage"
          [collapse]="!showImage"
          [isAnimated]="true"
        >
      </td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento | date : "dd/MM/yyyy HH:mm:ss"}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm m-1">Editar</button>
        <button type="button" class="btn btn-danger btn-sm m-1">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text">
        <h4>Nenhum evento econtrado</h4>
      </td>
    </tr>
  </tfoot>
</table>
